.sw__page-text--green {
    color: $olive-light;
}

.sw__page-text--thin {
    font-weight: 200;
}

.sw__page-text--narrow {
    font-weight: 300;
}

.sw__img-placeholder--width {
    max-width: 100%;
}

.sw__utility--copy-block {
    background-color: #eee;
    padding: 2rem !important;
    border-left: 5px solid $olive-light;

    p {
        padding-right: 0 !important;
    }
}