.navbar {
    background-color: $olive-light;
    font-family: $font-primary;
    
    a {
        color: $white;
    }

    a:hover {
        color: $gray-light;
    }

    ul {
        /*display: flex;
        align-items: stretch;
        justify-content: space-between;
        width: 100%;*/

        li {
            font-size: $font-big;
            /*display: block;
            flex: 0 1 auto;*/
        }
    }

    .navbar-brand {
        img {
            width: 165px;
        }
    }
}