.navbar {
    background-color: $olive-light;
    font-family: $font-primary;

    .navbar-toggler {
        width: 30px;
        height: 30px;
        position: relative;
        transition: .5 ease-in-out;
    }

    .navbar-toggler,
    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none;
        box-shadow: none;
        border: 0;
    }

    .navbar-toggler span {
        margin: 0;
        padding: 0;
    }

    .toggler-icon {
        display: block;
        position:absolute;
        height: 2px;
        width: 100%;
        background: $white;
        opacity: 1;
        left:0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }

    .middle-bar {
        margin-top: 0px;
        width: 75%;
        margin-left: 25% !important;
    }

    .navbar-toggler .top-bar {
        margin-top: 0px;
        transform: rotate(135deg);
    }

    .navbar-toggler .middle-bar {
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .navbar-toggler .bottom-bar {
        width: 100%;
        margin-top: 0px;
        transform: rotate(-135deg);
    }

    .navbar-toggler.collapsed .top-bar {
        margin-top: -18px;
        transform: rotate(0deg);
    }

    .navbar-toggler.collapsed .middle-bar {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    .navbar-toggler.collapsed .bottom-bar {
        margin-top: 18px;
        transform: rotate(0deg);
        width: 50%;
        margin-left: 50% !important;
    }
    
    a {
        color: $white;
    }

    a:hover {
        color: $gray-light;
    }

    ul {
        /*display: flex;
        align-items: stretch;
        justify-content: space-between;
        width: 100%;*/

        li {
            font-size: $font-big;
            /*display: block;
            flex: 0 1 auto;*/
        }
    }

    .navbar-brand {
        img {
            width: 165px;
        }
    }
}