/* The actual timeline (the vertical ruler) */
.main-timeline {
  position: relative;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.main-timeline::after {
  content: "";
  width: 0px;
}

/* Container around content */
.timeline {
  position: relative;
  background-color: inherit;
  width: 100%;
}

/* The circles on the timeline */
.timeline::after {
  content: "";
  width: 0px;
  height: 0px;
}

@media (min-width: 768px) {
      /* The actual timeline (the vertical ruler) */
    .main-timeline {
      position: relative;
      margin: 0 auto;
    }

    /* The actual timeline (the vertical ruler) */
    .main-timeline::after {
      content: "";
      position: absolute;
      width: 5px;
      background-color: $olive-light;
      top: 0;
      bottom: 0;
      left: auto;
      margin-left: -3px;
    }

    /* Container around content */
    .timeline {
      position: relative;
      background-color: inherit;
      width: 100%;
    }

    /* The circles on the timeline */
    .timeline::after {
      content: "";
      position: absolute;
      width: 17px;
      height: 17px;
      left: -25px;
      background-color: $olive-light;
      top: 40%;
      border-radius: 50%;
      z-index: 1;
    }
}
