// COLOURS
$gray: #455359;
$gray-dark: #1F2426;
$gray-light: #D2D8D9;
$olive-light: #828C6D;
$olive-dark: #6B735C;
$white: #ffffff;
$black: #000000;

// FONTS
$font-primary: 'Lato', Helvetica, Arial, sans-serif;

$font-smallest: 0.5rem;
$font-small: 0.75rem;
$font-regular: 1rem;
$font-big: 1.5rem;

$h1: 2rem;
$h2: 1.75rem;
$h3: 1.5rem;
$h4: 1.25rem;
$h5: 1rem;
$h6: 0.9rem;
