<div class="sw-role__role-card mb-5">
    <section class="row mb-3 sw-role__role-header">
        <article *ngIf="logo.length > 0" class="col-3 col-md-1">
            <img [src]="logo" alt="company logo" class="sw-role__company-logo" />
        </article>

        <article class="sw-role__details-header col-9 col-md-11">
            {{company}}
            <br />
            {{jobTitle}}
            <br />
            {{from}} - {{to}}
            <br />

            <div *ngIf="url.length > 0">
                <a href={{url}} target="_blank">{{url | url}}</a> <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </div>
        </article>
    </section>

    <section class="row sw-role__role-body" [innerHTML]="description"></section>
</div>