<section class="sw__page-content row mb-5">
    <article class="col-12 col-md-7">
        <h4 class="text-uppercase sw__page-text sw__page-text--thin mb-5">Education, Qualifications, and Training</h4>

        <aside class="sw__utility--copy-block">
            <ul>
                <li>AMPLIFY Management Development Programme (2023), <a href="https://www.managementcentre.co.uk/" target="blank">=MC</a></li>
                <li>ITIL v4 Foundation Certificate (2022), <a href="https://www.axelos.com" target="_blank">Axelos</a></li>
                <li>RSC Management Development (2019), <a href="https://www.managementcentre.co.uk/" target="blank">=MC</a></li>
                <li>RSC Management Development (2015), <a href="https://www.managementcentre.co.uk/" target="blank">=MC</a></li>
                <li>ITIL v2 Foundation Certificate (2014), <a href="https://www.axelos.com" target="_blank">Axelos</a></li>
                <li>Introduction to Computer Science and Programming using Python (2014), <a href="https://mitxonline.mit.edu/" target="_blank">MITx</a></li>
                <li>Batchelor of Arts (Hons) Media Production, 2:1 (2005), <a href="https://www.lincoln.ac.uk/" target="_blank">University of Lincoln</a></li>
            </ul>
        </aside>
    </article>
</section>
