@import '../../sass/variables';

a {
    color: $olive-dark;
    text-decoration: none;
}

a:hover {
    color: $olive-light;
}

svg {
    margin-left: 5px;
    color: $olive-dark;
    font-size: 0.9rem;
}