<section class="sw__page-content row mb-5">
    <article class="col-12">
        <h2 class="text-uppercase sw__page-text sw__page-text--thin mb-5">Education, Qualifications, and Training</h2>

        <aside class="sw__utility--copy-block">
            <p>
                <span *ngFor="let e of collection">
                    {{e.title}} ({{e.year}}), <a [href]="e.url" target="_blank">{{e.provider}}<i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    <br />
                </span>
            </p>
        </aside>
    </article>
</section>
