<section class="sw__page-content row mb-5">
    <article class="col-12">
        <h2 class="text-uppercase sw__page-text sw__page-text--thin mb-5">Education, Qualifications, and Training</h2>

        <aside class="sw__utility--copy-block">
            <p>
                AMPLIFY Management Development Programme (2023), <a href="https://www.managementcentre.co.uk/" target="blank">=MC</a><i class="fa-solid fa-arrow-up-right-from-square"></i>
                <br />
                ITIL v4 Foundation Certificate (2022), <a href="https://www.axelos.com" target="_blank">Axelos</a><i class="fa-solid fa-arrow-up-right-from-square"></i>
                <br />
                RSC Management Development (2019), <a href="https://www.managementcentre.co.uk/" target="blank">=MC</a><i class="fa-solid fa-arrow-up-right-from-square"></i>
                <br />
                RSC Project Management (2015), <a href="https://www.managementcentre.co.uk/" target="blank">=MC</a><i class="fa-solid fa-arrow-up-right-from-square"></i>
                <br />
                ITIL v2 Foundation Certificate (2014), <a href="https://www.axelos.com" target="_blank">Axelos</a><i class="fa-solid fa-arrow-up-right-from-square"></i>
                <br />
                Introduction to Computer Science and Programming using Python (2014), <a href="https://mitxonline.mit.edu/" target="_blank">MITx</a><i class="fa-solid fa-arrow-up-right-from-square"></i>
                <br />
                Batchelor of Arts (Hons) Media Production, 2:1 (2005), <a href="https://www.lincoln.ac.uk/" target="_blank">University of Lincoln</a><i class="fa-solid fa-arrow-up-right-from-square"></i>
            </p>
        </aside>
    </article>
</section>
