<section class="sw__page-content row">
    <article class="col">
        <h2 class="text-uppercase sw__page-text sw__page-text--thin mb-5">I'd love to hear from you</h2>
    
        <section class="sw__page-content row mb-5">
            <article class="col-12 col-md-6 sw__utility--copy-block">
                <form #form="ngForm" (ngSubmit)="sendEmail(form.value)">
                    <div *ngIf="message.length > 0" class="row mb-3">
                        <div class="col alert" [ngClass]="isCaptchaValid && isSent ? 'alert-success' : 'alert-danger'" role="alert">
                            {{message}}
                        </div>
                    </div>
                    
                    <div class="row mb-3">
                        <div class="col ps-0">
                            <label for="firstname">First name:</label> <sup>* required</sup>
                            <input type="text" id="firstname" name="firstname" class="form-control" aria-label="First name" ngModel required minlength="1" #firstname="ngModel"/>
                        </div>
                        
                        <div class="col pe-0">
                            <label for="lastname">Last name:</label> <sup>* required</sup>
                            <input type="text" id="lastname" name="lastname" class="form-control" aria-label="Last name" ngModel required minlength="1" #lastname="ngModel" />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col ps-0 pe-0">
                            <label for="email">Email address:</label> <sup>* required</sup>
                            <input type="text" id="email" name="email" class="form-control" aria-label="Email address" ngModel required email #email="ngModel" />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col ps-0 pe-0">
                            <label for="message">Your message:</label> <sup>* required</sup>
                            <textarea id="message" name="message" class="form-control" aria-label="Your message" rows="10" ngModel required minlength="1" #msg="ngModel"></textarea>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-8 col-md-10 ps-0 pe-0">
                            <re-captcha (resolved)="resolved($event)" siteKey="6LdJQgclAAAAAF5pzEPoSTYzM5qVVdKkwq3rZpBO"></re-captcha>
                        </div>
                        <div class="col-4 col-md-2 ps-0 pe-0">
                            <button type="submit" id="submit" name="submit" class="form-control" aria-label="Submit" [disabled]="form.invalid && !isCaptchaValid" [ngClass]="form.invalid && !isCaptchaValid ? 'disabled' : ''">Send</button>
                        </div>
                    </div>
                </form>
            </article>
        </section>
    </article>
</section>