<section class="sw__page-content row mb-5">
    <article class="col-12">
        <h2 class="text-uppercase sw__page-text sw__page-text--thin mb-5">Career Summary</h2>

        <section class="main-timeline">
            <span *ngFor="let c of career">
                <span class="ms-3 timeline" *ngFor="let r of c.Roles">
                    <sw-role [career]="career" [company]="c.Name" [jobTitle]="r.JobTitle"></sw-role>
                </span>
            </span>
        </section>
    </article>
</section>
