<section class="sw__page-content row mb-5">
    <article class="col-12">
        <h4 class="text-uppercase sw__page-text sw__page-text--thin mb-5">Career Summary</h4>

        <sw-role [from]="'Aug 2017'" [to]="'to date'" [company]="'Royal Shakespeare Company'" [jobTitle]="'Head of Application Delivery'"></sw-role>
        <sw-role [from]="'Oct 2012'" [to]="'Aug 2017'" [company]="'Royal Shakespeare Company'" [jobTitle]="'Lead Software Developer'"></sw-role>
        <sw-role [from]="'Sep 2011'" [to]="'Oct 2012'" [company]="'Royal Shakespeare Company'" [jobTitle]="'CMS / Web Developer'"></sw-role>
        <sw-role [from]="'Jun 2005'" [to]="'Apr 2019'" [company]="'Freelance'" [jobTitle]="'Multimedia Consultant'"></sw-role>
        <sw-role [from]="'Sep 2006'" [to]="'Sep 2011'" [company]="'Derbyshire County Council'" [jobTitle]="'Multimedia Coordinator'"></sw-role>
    </article>
</section>
