<section class="sw__page-hero row mb-5">
    <article class="col text-center">
        <h1 class="sw__page-title sw__page-text--thin">Stephen Willis.</h1>

        <h4 class="sw__page-text sw__page-text--green sw__page-text--thin ps-md-5 pe-md-5">
            A multi-skilled and experienced leader, solutions architect and full stack software engineer 
            <br />
            with a track record of developing and maintaining high-quality software solutions 
            <br />
            and building high performing teams
        </h4>
    </article>
</section>

<section class="sw__page-content row mb-5">
    <aside class="col-12 col-md-5 mb-5 text-center text-md-end">
        <sw-image-placeholder [height]="400" [width]="300"></sw-image-placeholder>
    </aside>

    <article class="col-12 col-md-7">
        <h4 class="text-uppercase sw__page-text sw__page-text--thin">Architect. Engineer. Leader.</h4>

        <p class="pe-md-5 mb-5 sw__page-text sw__page-text--narrow">
            Possesses 15+ years of software engineering experience through the full software development lifecycle. 
            <br /><br />
            Core technical skills include C#, MSSQL Server, React, Angular, NoSQL, APIs, cloud architecture, pipeline orchestration with exposure to DevOps, ITIL, Waterfall and Agile methodologies. 
            <br /><br />
            Educated to degree level, with excellent mental agility, analytical and problem-solving skills, strategic acumen, and a track record of developing innovative solutions to complex issues, business critical processes and operational efficiency.
        </p>

        <h4 class="text-uppercase sw__page-text sw__page-text--thin">Core Skills.</h4>

        <section class="row p-0 sw__page-text--narrow">
            <article class="col p-0">
                <ul>
                    <li>Solutions &amp; Cloud Architecture</li>
                    <li>Full software development lifecycle</li>
                    <li>Test Driven Development</li>
                    <li>SOLID Principles</li>
                    <li>Change Management</li>
                    <li>Version Control</li>
                    <li>DevOps/Agile/Scrum/Pair Programming</li>
                    <li>Leadership/Management</li>
                    <li>C & D suite engagement</li>
                </ul>
            </article>

            <article class="col p-0">
                <ul>
                    <li>C#, MVC, Razor, WebAPI</li>
                    <li>MSSQL Server inc. SSIS, SSRS</li>
                    <li>Tessitura APIs and Databases</li>
                    <li>JavaScript, TypeScript, React, Angular</li>
                    <li>APIs</li>
                    <li>CI/CD Pipeline Orchestration</li>
                    <li>Azure, AWS</li>
                    <li>Visual Studio/VSCode/SSMS</li>
                </ul>
            </article>
        </section>
    </article>
</section>